extends layout/authorized_main

block authorized_content
    table.ui.celled.table
        thead
            tr
                th= "Title"
                th= "Archived"
                th= "Enable stand up"
        tbody
            each ch in user.team.channels.sort((item, next) => next.isEnabled === true ? 1 : -1)
                tr
                    td= ch.name
                    td
                        .ui.toggle.checkbox
                            input(type="checkbox" checked=ch.isArchived disabled)
                    td
                        .ui.toggle.checkbox.isEnabled
                            input(type="checkbox" name="isEnabled" data-id=ch.id checked=ch.isEnabled)
block append scripts
    script.
      var $checkbox = $('.checkbox')
      $checkbox.checkbox()
      $checkbox.filter('.isEnabled').checkbox({
        onChange: function() {
          var channelID = this.dataset.id

          fetch('/channel', {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: channelID,
              isEnabled: this.checked
            }),
            method: "POST"
          }).then(function (response) {
            if (response.ok) {

            }
          })
        }
      })
