extends layout/authorized_main

block authorized_content
  if teams.length === 0
    .no-stand-ups No teams🐥
  .team-list
    each team in teams
      .team
        .team__header
          a.team__title(href="/team/" + team.id)= team.name
          .ui.toggle.checkbox
            input(type="checkbox" checked=team.isEnabled ? "checked" : "")
            label= "Activate"
        .team__content
          div
            = "Time: " + team.start + " - " + team.untilTime() + " (" + team.timezone.name + "). Duration " + team.duration  + " minutes"
          div= "Participants: " + team.users.length
          .team__users
            each u in team.users
              div(title=u.profile.real_name ? u.profile.real_name + ' (' + u.name + ')' : u.name)
                if u.profile.image_72
                  img.stand-up-item__image(src=u.profile.image_72)
                else
                  svg(data-jdenticon-value=u.id, width="72", height="72")
          // div= "Meetings passed: 32"
          div= "Report to #" + team.reportSlackChannel
          div
            .ui.label= "Created by " + team.createdBy.name + " at: " + intl.format(team.createdAt)
          .team__actions
            a.ui.right.floated.primary.button(href="/team/" + team.id + "/edit")= "Edit settings"

block append scripts
  link(rel='stylesheet' href='https://afeld.github.io/emoji-css/emoji.css')
  script.
    var url = new URL(location.href);
    let page = parseInt(url.searchParams.get('page')) || 1

    var vm = new Vue({
      el: '#pagination',
      data: {
        pageCount: #{ pageCount },
        page: page,
      },
      methods: {
        handler: function (page) {
          url.searchParams.has('page') ? url.searchParams.set('page', page) : url.searchParams.append('page', page);
          location.href = url.href
        }
      }
    })
