extends layout/authorized_main

block authorized_content
    .row
        .col
            form.ui.form(method='post')
                .field
                    label= 'Locale timezone'
                    select.form-control(name="timezone")
                        each timezone, index in timezoneList
                            - var selected = channel.timezone == timezone.utc_offset.hours
                            option(value=timezone.utc_offset.hours, selected=selected)= timezone.name

                .field
                    label= 'Start meeting (locale time)'
                    input.form-control(name="start", type="time", step="60", value=channel.start)
                .field
                    label= 'End meeting'
                    input.form-control(name="end", type="time", step="60", value= channel.end)
                button.ui.button.fluid.positive(type="submit")= 'Save'
