extends layout/authorized_main

block authorized_content
    if standUpList.length === 0
        .no-meetings No meetings 🐥
    else
        #list
        each standUp in standUpList
            .ui.items.stand-up
                .stand-up__date=standUp.standUp.start.toLocaleDateString("en-US", { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' })
                each userAnswers in standUp.answers
                    .item.stand-up-item
                        img.stand-up-item__image(src=userAnswers.user.profile.image_48).img-thumbnail
                        .stand-up-item__content
                            .stand-up-item__name= userAnswers.user.profile.real_name + ' (' + userAnswers.user.name + ')'
                            each answer, index in userAnswers.answers
                                .stand-up-item__question-answer(class= 'stand-up-item__question-answer--'+index)
                                    .stand-up-item__question= answer.question.text
                                    .stand-up-item__answer= answer.answerMessage
        #pagination
            paginate(
            v-model="page",
            :page-count="pageCount",
            :click-handler="handler",
            :prev-text="'Prev'",
            :next-text="'Next'",
            :container-class="'ui pagination menu'",
            :page-class="'item'",
            :prev-class="'item'",
            :next-class="'item'",
            )
block append scripts
    script.
        var url = new URL(location.href);
        let page = parseInt(url.searchParams.get('page')) || 1

        var vm = new Vue({
            el: '#pagination',
            data: {
                pageCount: #{ pageCount },
                page: page,
            },
            methods: {
                handler: function (page) {
                    url.searchParams.has('page') ? url.searchParams.set('page', page) : url.searchParams.append('page', page);
                    location.href = url.href
                }
            }
        })