extends layout

block dashboard_content
    .row
        .col
            form.ui.form(method='post')
                h4= 'Settings'
                .field
                    label= 'Locale timezone'
                    select.form-control(name="timezone")
                        each timezone, index in timezoneList
                            - var selected = settings.timezone == index
                            option(value= index, selected=selected)= timezone

                .field
                    label= 'Start meeting (locale time)'
                    input.form-control(name="start", type="time", step="60", value= settings.start)
                .field
                    label= 'End meeting'
                    input.form-control(name="end", type="time", step="60", value= settings.end)
                h4= 'Report'
                .field
                    label= 'To channel'
                    select.form-control(name="report_channel")
                        each channel in channels
                            - var selected = settings.report_channel == channel.id
                            option(value= channel.id, selected=selected)= channel.name
                button.ui.button(type="submit")= 'Save settings'

