extends layout.pug

block dashboard_content
    div(class="row")
        div(class="col")
            form(method='post')
                h4= 'Settings'
                div.form-group
                    label= 'Locale timezone'
                    select.form-control(name="timezone")
                        each timezone, index in timezoneList
                            - var selected = settings.timezone == index
                            option(value= index, selected=selected)= timezone

                div.form-group
                    label= 'Start meeting (locale time)'
                    input.form-control(name="start", type="time", value= settings.start)
                div.form-group
                    label= 'End meeting'
                    input.form-control(name="end", type="time", value= settings.start)
                h4= 'Report'
                div.form-group
                    label= 'To channel'
                    select.form-control(name="report_channel")
                        each channel in channels
                            option(value= channel.id)= channel.name
                button(class="btn btn-outline-success" type="submit")= 'Save settings'

